body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(afbeeldingen/1687349262-0091_220625225505-marko_be_square-bq205842-edit.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}




.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
    
nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 2%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

h1 {
    color: #fff;
    font-size: 100px;
}

h2 {
    color: #fff;
}

h3 {
    color: #fff;
}

p {
    color: #fff;
}

.containerNAV {
    width: 100%;
    height: 10vh;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    box-sizing: border-box;
}

.containerTITLE {
    display: flex;
    width: 90%;
    height: 0vh;
    justify-content: left;
    margin-left: 10%;
    margin-top: 10%;
}

.containerREACTIVE {
    display: flex;
    width: 100%;
    height: 10vh;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    margin-bottom: 10%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.containerREACTIVE :hover {
    background-color: rgba(0, 17, 255, 0.082);
    border-radius: 300px 300px;
}

.block1 {
    display: flex;
    width: 100%;
    height: 40vh;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 4%;
    margin-right: 4%;
}

.block1 img {
    width: 600px;
    height: 300px;
    align-items: center;
}

.containerREVERZE {
    display: flex;
    width: 100%;
    height: 10vh;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    margin-bottom: 20%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.containerREVERZE :hover {
    background-color: rgba(137, 161, 0, 0.082);
    border-radius: 300px 300px;

}

.block2 {
    display: flex;
    width: 100%;
    height: 40vh;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 4%;
    margin-right: 4%;
}

.block2 img {
    width: 600px;
    height: 300px;
    align-items: center;
}

.containerMOH {
    display: flex;
    width: 100%;
    height: 10vh;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    margin-bottom: 20%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.containerMOH :hover {
    background-color: rgba(214, 121, 0, 0.082);
    border-radius: 300px 300px;
}

.block3 img {
    width: 600px;
    height: 300px;
    align-items: center;
}

.block3 {
    display: flex;
    width: 100%;
    height: 40vh;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 4%;
    margin-right: 4%;
}

.containerREBIRTH {
    display: flex;
    width: 100%;
    height: 10vh;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20%;
    margin-bottom: 15%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.containerREBIRTH :hover {
    background-color: rgba(0, 255, 115, 0.082);
    border-radius: 300px 300px;
}

.block4 img {
    width: 600px;
    height: 300px;
    background-color: none;
    align-items: center;
}

.block4 {
    display: flex;
    width: 100%;
    height: 40vh;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 4%;
    margin-right: 4%;
}



