body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(afbeeldingen/1687349262-0091_220625225505-marko_be_square-bq205842-edit.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
    height: 10vh;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    box-sizing: border-box;
}

.container2 {
    width: 100%;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}


nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 2%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: #fff;
    font-size: 100px;
}

h2 {
    color: #fff;
}

p {
    color: #fff;
}



.card {
    width: 275px;
    height: 275px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 30px 30px;
    background-position: center;
    background-size: cover;
}

.card1 {
    background-image: url(afbeeldingen/intents\ event.jpg);
}

.card2 {
    background-image: url(afbeeldingen/atmozfears_back_2_you.jpeg);
}

.card3 {
    background-image: url(afbeeldingen/hhz-up-close-and-personal.jpg);
}

