body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(afbeeldingen/1687349262-0091_220625225505-marko_be_square-bq205842-edit.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
    
nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 2%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

h1 {
    color: #fff;
    font-size: 100px;
}

h2 {
    color: #fff;
    font-size: 70px;
}

h3 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

p {
    color: #fff;
}

.containerNAV {
    width: 100%;
    height: 10vh;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    box-sizing: border-box;
}

.containerTITLE {
    display: flex;
    width: 90%;
    height: 0vh;
    justify-content: left;
    margin-left: 10%;
    margin-top: 10%;
}

.containerBACK2YOU {
    display: flex;
    width: 90%;
    height: 60vh;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 20%;
    box-sizing: border-box;
    justify-content: baseline;
    align-items: center;
    background-color: rgba(59, 90, 156, 0.527);
    border-radius: 300px 300px;
}

.blockBACK2YOU {
    display: flex;
    width: 100%;
    height: 40vh;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 4%;
    margin-right: 4%;
}

.imgBACK2YOU img {
    width: 400px;
    height: 400px;
    align-items: center;
}

.containerRELEASE {
    display: flex;
    width: 90%;
    height: 30vh;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    box-sizing: border-box;
    justify-content: baseline;
    align-items: center;
}

.block {
    display: flex;
    width: 100%;
    height: 30vh;
    margin-top: 10%;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 4%;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.664);
}

.block img {
    width: 200px;
    height: 200px;
    align-items: center;
}

.tekst h2 {
    font-size: 35px;
}



