body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(afbeeldingen/1687349262-0091_220625225505-marko_be_square-bq205842-edit.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    padding: 0;
    margin: 0;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
    
nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 2%;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

h1 {
    color: #fff;
    font-size: 100px;
}

h2 {
    color: #fff;
    font-size: 70px;
}

h3 {
    color: #fff;
}

p {
    color: #fff;
}

.containerNAV {
    width: 100%;
    height: 10vh;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 2%;
    box-sizing: border-box;
}

.containerTITLE {
    display: flex;
    width: 90%;
    height: 0vh;
    justify-content: left;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.containerTXT {
    display: flex;
    width: 90%;
    height: 40vh;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    box-sizing: border-box;
    justify-content: end;
    align-items: center;
    
}

.blockTXT {
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: flex-start;
    margin-left: 5%;
    margin-right: 5%;
}

.containerIMG {
    display: flex;
    width: 90%;
    height: 40vh;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 5%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    
}

.imgHHZ img {
    width: 1000px;
    height: 500px;
    align-items: center;
}


